In [11]:
list1 = ['Cat', 'Banana', 'Dog', 'Apple']

In [5]:
list1.sort()

In [6]:
list1

['A', 'Banana', 'Cat', 'D']

In [7]:
list2 = list1.copy()

In [12]:
list2

['A', 'Banana', 'Cat', 'D']

In [13]:
id(list1)

2400885711744

In [14]:
id(list2)

2400885664256

### Loops

In [16]:
for temp_var in list1:
    if temp_var == 'Dog':
        print("Found DOG in list")
        break
    else:
        print("Not Found")

Not Found
Not Found
Found DOG in list

In [17]:
for temp_var in list1:
    if temp_var == 'Dog':
        print("Found DOG in list")
    else:
        print("Not Found")

Not Found
Not Found
Found DOG in list
Not Found

In [18]:
for temp_var in list1:
    if temp_var == 'Dog':
        continue
        print("Found DOG in list")
    else:
        print("Not Found")

Not Found
Not Found
Not Found

In [19]:
for temp in range(10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [21]:
for temp in range(1, 11):
    print(temp)

1
2
3
4
5
6
7
8
9
10

In [22]:
for temp in range(1, 11):
    print(f"2 x {temp} = {temp * 2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [23]:
f"2 x {1} = {1 * 2}"

'2 x 1 = 2'

In [25]:
"2 x "+ str(1) + " = "

'2 x 1 = '

In [26]:
for temp in range(1, 11):
    print(f"2 x {temp} = {temp * 2}")
    print(f"3 x {temp} = {temp * 3}")
    print(f"4 x {temp} = {temp * 4}")
    print(f"5 x {temp} = {temp * 5}")

2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50

In [27]:
for temp in range(1, 11):
    print(f"2 x {temp} = {temp * 2}")
    for temp in range(1, 11):
        print(f"3 x {temp} = {temp * 3}")
    for temp in range(1, 11):
    print(f"4 x {temp} = {temp * 4}")
for temp in range(1, 11):
    print(f"5 x {temp} = {temp * 5}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
for temp in range(2, 6):
    print(f"table of {temp}")
    for temp_2 in range(1, 11):
        print(f"{temp} * {temp_2} = {temp * temp_2}")

table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [30]:
"cat".upper()

'CAT'

In [29]:
list1

['Cat', 'Banana', 'Dog', 'Apple']

In [32]:
list_upper= []
for temp in list1:
    list_upper.append(temp.upper())

In [33]:
list_upper

['CAT', 'BANANA', 'DOG', 'APPLE']

In [34]:
list_lower= []
for temp in list1:
    list_lower.append(temp.lower())

In [35]:
list_lower

['cat', 'banana', 'dog', 'apple']

In [36]:
"cat".title()

'Cat'

In [37]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)

In [38]:
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [40]:
table_start = int(input("Want to print Table from: "))
table_end = int(input("Want to print Table till: "))
table_length = int(input("How many time you want to print: "))

for temp in range(table_start, table_end):
    print(f"table of {temp}")
    for temp_2 in range(1, table_length+1):
        print(f"{temp} * {temp_2} = {temp * temp_2}")

Want to print Table from: 2
Want to print Table till: 7
How many time you want to print: 5
table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
table of 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30

In [43]:
name = input("Enter your name: ")
father_name = input("Enter your Father name: ")
cnic = int(input("Enter your CNIC number: "))
course = input("In which course you're enrolled: ")

print("**********SAYLANI (SMIT)***********")
print(f"NAME: {name}")
print(f"FATHER NAME: {father_name}")
print(f"CNIC: {cnic}")
print(f"COURSE: {course}")
print("************************************")

Enter your name: QASIM
Enter your Father name: HASSAN
Enter your CNIC number: 1234567890
In which course you're enrolled: 9 to 11
**********SAYLANI (SMIT)***********
NAME: QASIM
FATHER NAME: HASSAN
 CNIC: 1234567890
 COURSE: 9 to 11
************************************

In [48]:
name = input("Enter your name: ")
father_name = input("Enter your Father name: ")
cnic = int(input("Enter your CNIC number: "))
course = input("In which course you're enrolled: ")

print("**********SAYLANI (SMIT)***********")
print("NAME: {0} {1}".format(name, father_name))
print("FATHER NAME: {0}".format(father_name))
print("CNIC: {0}".format(cnic))
print("COURSE: {0}".format(course))
print("************************************")

Enter your name: QASIM
Enter your Father name: HASSAN
Enter your CNIC number: 1234567890
In which course you're enrolled: 9 to 11
**********SAYLANI (SMIT)***********
NAME: QASIM HASSAN
FATHER NAME: HASSAN
CNIC: 1234567890
COURSE: 9 to 11
************************************

In [54]:
# single print is used
# \n for next line
# \ for line continue

name = input("Enter your name: ")
father_name = input("Enter your Father name: ")
cnic = int(input("Enter your CNIC number: "))
course = input("In which course you're enrolled: ")
print(f"**********SAYLANI (SMIT)***********\n NAME : {name} \n FATHER NAME : \
{father_name} \n ID : {cnic} \n COURSE : {course} \
\n***********************************" )

Enter your name: qasim
Enter your Father name: hassan
Enter your CNIC number: 12345678
In which course you're enrolled:  9 to 11
**********SAYLANI (SMIT)***********
 NAME : qasim
 FATHER NAME : hassan
 ID : 12345678
 COURSE :  9 to 11
***********************************

In [55]:
# single print is used
# \n for next line
# \ for line continue

name = input("Enter your name: ")
father_name = input("Enter your Father name: ")
cnic = int(input("Enter your CNIC number: "))
course = input("In which course you're enrolled: ")
print("**********SAYLANI (SMIT)***********\n NAME : {0} \n FATHER NAME : \
{1} \n ID : {2} \n COURSE : {3} \
\n***********************************".format(name, father_name, cnic, course))

Enter your name: QASIM
Enter your Father name: HASSAN
Enter your CNIC number: 1234567890
In which course you're enrolled: Python Programming
**********SAYLANI (SMIT)***********
 NAME : QASIM
 FATHER NAME : HASSAN
 ID : 1234567890
 COURSE : Python Programming
***********************************

In [ ]:
["Qasim", "Hassan", 72, 19]

In [ ]:
key --> value
name --> Qasim
fath_name --> Hassan
weight ---> 72
age --> 19

In [ ]:
{}